@import "tailwindcss";

:root {
  --carbon: #1c1c1c;
  --alabaster: #daddd8;
  --linen: #ecebe4;
  --platinum: #eef0f2;
  --ghost: #fafaff;

  --background: var(--linen);
  --card: var(--ghost);
  --foreground: var(--carbon);
  --border: var(--alabaster);
}

@theme inline {
  --color-background: var(--background);
  --color-card: var(--card);
  --color-platinum: var(--platinum);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --font-serif-jp: "Hiragino Mincho ProN", "Yu Mincho", "YuMincho", serif;
  --font-sans-jp: "Hiragino Sans", "Yu Gothic", "YuGothic", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans-jp);
}
